<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _7CoreApiRestFullCSharpMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_7CoreApiRestFullCSharpMvc.styles.css" asp-append-version="true" />
    <link href="~/css/mui.css" rel="stylesheet" />
    <link href="~/css/Sidebar.css" rel="stylesheet" />
    <link href="~/css/Glyphicons.css" rel="stylesheet" />
    <link href="~/css/stylesidepanel.css" rel="stylesheet" />
    <link href="~/js/prettify.css" rel="stylesheet" />
    <link href="~/js/styles.css" rel="stylesheet" />
    <link href="~/js/Datatables/datatables.css" rel="stylesheet" />
</head>
<body>
<div id="sidedrawer" class="mui--no-user-select">
  <div id="sidedrawer-brand" class="mui--appbar-line-height">
  <span class="mui--text-title">Brand.io</span>
</div>
<div class="mui-divider"></div>
<ul>
  <li>
    <strong>Category 1</strong>
    <ul>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
    </ul>
  </li>
  <li>
    <strong>Category 2</strong>
    <ul>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
    </ul>
  </li>
  <li>
    <strong>Category 3</strong>
    <ul>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
    </ul>
  </li>
</ul>
</div>
<header id="header">
  <div class="mui-appbar mui--appbar-line-height">
    <div class="mui-container-fluid">
      <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
      <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
      <span class="mui--text-title mui--visible-xs-inline-block">Brand.io</span>
    </div>
  </div>
</header>
<div class="mui--appbar-height"></div>
<div id="content-wrapper" class="mui-container-fluid">
        @RenderBody()
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mui.min.js"></script>
    <script src="~/js/side-panel.js"></script>
    <script src="~/js/prettify.js"></script>
     <script src="~/js/Datatables/datatables.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function(){
            $('#example').DataTable();
        });
    </script>
</body>
</html>
